<div class="modal fade" id="merchant-add" data-keyboard="false" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title pull-left" id="merchant-add-modal-title">添加商户</h3>
            </div>
            <div class="modal-body">
                <form id="merchant-add-form">
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon">
					               商户名称：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="merchant_name" class="form-control">
                                    <input type="text" name="id" hidden class="form-control">
                                    <input type="text" name="merchant_id" hidden class="form-control">
                                    <input type="text" name="merchant_addtime" hidden class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	商户电话：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="merchant_phone" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	商户邮箱：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="merchant_mail" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	商户法人：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="merchant_corp" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	商户地址：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="merchant_addr" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	商户工商信息：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="merchant_information" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-save" id="merchant-add-button" name="save">保存</button>
                <button type="button" class="btn btn-secondary btn-close">关闭</button>
                <button class="btn-hide"></button>
            </div>
        </div>
    </div>
</div>
<script data-th-src="@{js/app/system/merchant/merchantAdd.js}"></script>

