<div class="modal fade" id="advertising-add" data-keyboard="false" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title pull-left" id="advertising-add-modal-title">添加广告</h3>
            </div>
            <div class="modal-body">
                <form id="advertising-add-form">
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon">
					               广告名称：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="advertising_name" class="form-control">
                                    <input type="text" name="advertising_addtime" hidden class="form-control">
                                    <input type="text" name="advertising_id" hidden class="form-control">
                                    <input type="text" id="advertising_content" name="advertising_content" hidden class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	广告标题：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="advertising_title" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	广告备注：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="advertising_remarks" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="input-group">
                                <span class="input-group-addon">
					               	商户码：
					            </span>
                                <div class="form-group">
                                    <input type="text" name="merchant_id" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
                    <script data-th-src="@{js/kindeditor/kindeditor-all-min.js}"></script>
                    <script data-th-src="@{js/kindeditor/lang/zh-CN.js}"></script>
                    <script data-th-src="@{js/kindeditor/plugins/code/prettify.js}"></script>
                    <!--<script data-th-src="@{js/jquery.min.js}"></script>-->
                    <!--<form id="example" name="example" action="paperTitle" method="post">-->
                    <textarea style="width:100%;height:100%;" id="paperTitle" name="paperTitle" cols="100"
                              rows="20"></textarea>
                    <!--<input type="submit" value="提交"/>-->
                    <!--<input type="button" onclick="advertisingaa()" value="提交2"/>-->
                    <!--</form>-->

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-save" id="advertising-add-button" name="save">保存</button>
                <button type="button" class="btn btn-secondary btn-close">关闭</button>
                <button class="btn-hide"></button>
            </div>
        </div>
    </div>
</div>
<script data-th-src="@{js/app/job/advertising/advertising-add.js}"></script>
<script data-th-src="@{js/app/job/advertising/advertisingEdit.js}"></script>
