<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 文件输出格式 -->
    <property name="PATTERN" charset="UTF-8"
              value="[%-12(%date{yyyy-MM-dd HH:mm:ss.SSS})] [%-5level] [%thread] [%logger{50} %line] : %msg%n"/>
    <!-- test文件路径 -->
    <property name="TEST_FILE_PATH" value="/root/logs/niuhao-version-01/"/>
    <!-- prod文件路径 -->
    <property name="PRO_FILE_PATH" value="/root/logs/niuhao-version-01/"/>
    <!-- 控制台输出 彩色-->
    <!--<include resource="org/springframework/boot/logging/logback/base.xml" />-->
    <!-- 控制台输出 黑白-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder><!--对日志进行格式化-->
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>
    <!-- 开发环境 dev-->
    <!-- 测试环境 test-->
    <springProfile name="dev">
        <!-- 每天产生一个文件 -->
        <appender name="TEST-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <!-- 文件路径 -->
            <!--<file>${TEST_FILE_PATH}</file>-->
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- 文件名称 -->
                <fileNamePattern>${TEST_FILE_PATH}/niuhao-version-01-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <!--日志文件保留天数-->
                <MaxHistory>30</MaxHistory>
                <timeBasedFileNamingAndTriggeringPolicy
                        class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <!-- 日志文件大小 64 MB -->
                    <maxFileSize>30 MB</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>
            </rollingPolicy>
            <!--日志格式-->
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>${PATTERN}</pattern>
            </layout>
        </appender>
        <!--优先级-->
        <root level="info">
            <!-- 文件输出-->
            <appender-ref ref="TEST-FILE"/>
            <!-- 控制台输出 黑白-->
            <appender-ref ref="STDOUT"/>
        </root>
        <!-- mybatis中设置SQL参数打印-->
        <!--additivity="false"表示只在logDirfile输出，不在其他输出台输出，如果设置为true，表示要在其他地方也输出-->
        <logger name="org.springframework.web" level="INFO"/>
        <logger name="org.springboot.sample" level="INFO"/>
        <logger name="cc.mrbird.system.dao" level="DEBUG" additivity="true"/>
        <logger name="cc.mrbird.job.dao" level="DEBUG" additivity="true"/>
        <logger name="cc.mrbird.scapp.dao" level="DEBUG" additivity="true"/>
    </springProfile>
    <!-- 生产环境 prod-->
    <springProfile name="prod">
        <appender name="PROD_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <!--<file>${PRO_FILE_PATH}</file>-->
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${PRO_FILE_PATH}/warn-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <!--日志文件保留天数-->
                <MaxHistory>30</MaxHistory>
                <timeBasedFileNamingAndTriggeringPolicy
                        class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <!-- 日志文件大小 64 MB -->
                    <maxFileSize>30 MB</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>
            </rollingPolicy>
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>${PATTERN}</pattern>
            </layout>
        </appender>
        <root level="error">
            <appender-ref ref="PROD_FILE"/>
        </root>
    </springProfile>

</configuration>